In [3]:
import sqlite3

In [11]:
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT
            f.name AS facility_name,
            strftime('%m', b.starttime) AS month,
            COUNT(b.bookid) AS usage_count
        FROM 
            FACILITIES AS f
        JOIN 
            BOOKINGS AS b ON f.facid = b.facid
        WHERE 
            b.memid != 0
        GROUP BY 
            f.name, month
        ORDER BY 
            month, usage_count DESC;
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "test.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
('Pool Table', '07', 103)
('Massage Room 1', '07', 77)
('Snooker Table', '07', 68)
('Tennis Court 1', '07', 65)
('Badminton Court', '07', 51)
('Table Tennis', '07', 48)
('Tennis Court 2', '07', 41)
('Squash Court', '07', 23)
('Massage Room 2', '07', 4)
('Pool Table', '08', 272)
('Snooker Table', '08', 154)
('Massage Room 1', '08', 153)
('Table Tennis', '08', 143)
('Badminton Court', '08', 132)
('Tennis Court 1', '08', 111)
('Tennis Court 2', '08', 109)
('Squash Court', '08', 85)
('Massage Room 2', '08', 9)
('Pool Table', '09', 408)
('Snooker Table', '09', 199)
('Table Tennis', '09', 194)
('Massage Room 1', '09', 191)
('Badminton Court', '09', 161)
('Tennis Court 1', '09', 132)
('Tennis Court 2', '09', 126)
('Squash Court', '09', 87)
('Massage Room 2', '09', 14)